.loader {
    border-top: 10px solid #028090;
    border-right: 10px solid #028090;
    border-bottom: 10px solid #028090;
    border-left: 10px solid #028090;
    border-radius: 50%;
    width: 220px; 
    height: 220px;
    animation: spin 4s linear infinite;
    font-weight: bold;
    margin: auto;

}
.loader2 {
    border-bottom: 10px solid #E4FDE1;
    border-right: 10px solid #E4FDE1;
    border-top: 10px solid #E4FDE1;
    border-left: 10px solid #E4FDE1;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    animation: spin 4s linear infinite;
    font-weight: bold;
    margin: 0px auto;



}
.loader3 {
    border-top: 10px solid #F45B69;
    border-right: 10px solid #F45B69;
    border-bottom: 10px solid #F45B69;
    border-left: 10px solid #F45B69;
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    animation: spin 5s linear infinite;
    font-weight: bold;
    margin: 0px auto;

}

/** REVERSE LOADER CODE **/

.rloader {
    border-top: 10px solid #BCE784;
    border-right: 10px solid #BCE784;
    border-bottom: none;
    border-left: 10px solid #BCE784;
    border-radius: 50%;
    width: 220px; 
    height: 220px;
    animation: spin2 5s linear infinite;
    font-weight: bold;
    margin: auto;

}
.rloader2 {
    border-bottom: 8px solid #348AA7;
    border-right: 8px solid #348AA7;
    border-top: 8px solid #348AA7;
    border-left: 8px solid #348AA7;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    animation: spin2 4s linear infinite;
    font-weight: bold;
    margin: 0px auto;



}
.rloader3 {
    border-top: 4px solid #aa10be;
    border-right: 4px solid #aa10be;
    border-bottom: 4px solid #aa10be;
    border-left: 4px solid #aa10be;
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    animation: spin2 5s linear infinite;
    font-weight: bold;
    margin: 0px auto;

}





@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin2 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}
@keyframes spin3 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


body {
    background: black;
}
.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    
}